<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<classes>
			<class name="com.makaan.Test.HomeTest" />
			<class name="com.makaan.Test.LoginTest" />
			<class name="com.makaan.Test.ConnectNowTest" />
			<class name="com.makaan.Test.SearchTest" />
			<class name="com.makaan.Test.SERPTest" />
			<class name="com.makaan.Test.PYRTest" />
			<class name="com.makaan.Test.ProjectTest" />
			<class name="com.makaan.Test.PropertyPage_Test" />
			



		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
